*{
  box-sizing: border-box;
}
header{
       width: 100vw;
       height: 50vh;
  background-color: lightcyan;
  text-align: center;
}

.middle-section{
  
  
  background-color: pink;
  display:flex;
  

}

aside{
  width: 50vw;
  height: 140vh;
  background-color: lightseagreen;
}

.image-section{
  background-color: aliceblue;
  display:flex;
  text-align: left;
}

footer{
  width:100vw;
  height:25vh;
  background-color: lime;
}